<div class="wrapper">
  <div *ngIf="loading" class="loader">
    <mat-spinner></mat-spinner>
  </div>
  <div class="flex-row">
    <div class="search-panel">
      <mat-form-field class="flex-col">
        <mat-icon matPrefix>search</mat-icon>
        <input class="full-width" matInput placeholder="Search" aria-label="Search" [formControl]="search">
        <mat-hint>Search by product name</mat-hint>
        <mat-error *ngIf="search.invalid">
          Type more than one character to search
        </mat-error>
      </mat-form-field>
      <div *ngIf="categoriesCheckboxes" class="flex-col categories">
        <mat-checkbox (change)="changeCategories(i)" *ngFor="let category of categoriesCheckboxes.controls; let i = index"
          [formControl]="category" [checked]="category.value">{{ categories[i].name }}</mat-checkbox>
      </div>
    </div>
    <div>

      <div style="text-align: right; margin-top: 20px;">
        <mat-button-toggle-group [style.visibility]="products && products.length > 0 ? 'visible' : 'hidden'" style="zoom:0.8;">
          <mat-button-toggle *ngFor="let sort of sorts; let i = index" value="{{ i }}">
            {{ sort.propertyName }}
            <mat-icon>{{ sort.ordering === 'asc' ? 'arrow_downward' : 'arrow_upward'}}</mat-icon>
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>

      <div *ngIf="!loading && products && products.length === 0" class="center">Nothing found</div>
      <div  *ngIf="products && products.length > 0" style="margin-top: 20px">
        <div *ngFor="let product of products">
          <a class="product" [routerLink]="['/shop/product', product.id]" routerLinkActive="router-link-active">
            <div class="name">{{ product.name }}</div>
            <div class="price">${{ product.price }}</div>
          </a>
        </div>
      </div>

      <mat-paginator [style.visibility]="products && products.length > 0 ? 'visible' : 'hidden'" [pageSizeOptions]="[3, 5, 10, 25, 100]"></mat-paginator>
    </div>
  </div>




</div>
