/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.wrapper {
  margin: 0 auto;
  max-width: 900px;
  position: relative;
}
  .flex-col {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
.flex-row {
  display: flex;
  .flex-40 {
    flex: 1 1 40%;
  }
  .flex-60 {
    flex: 1 1 60%;
  }

  .search-panel {
    flex: 0 1 200px;
    margin-right: 20px;
  }

  & > * {
    flex: 1 1 auto;
  }
}

table {
  width:100%;
}

.flex-blocks {
  display: flex;
  flex-wrap: wrap;

  a {
    text-decoration: none;
  }
  & > * {
    flex:1 1 250px;
    max-width: 100%;
    margin:10px;
  }
}
.center {
  text-align: center;
  margin-top:20px;
}
.loader {
  position: absolute;
  top:0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(255,255,255,0.7);
  display:flex;
  align-content: center;
  align-items: center;
  mat-spinner {
    margin: auto;
  }
}
.product {
  display: flex;
  text-decoration: none;
  color: black;
  padding: 10px 0;
  border-bottom: #949494 solid 1px;
}
.product:hover {
  border-bottom: #673ab7 solid 1px;
}
.name {
  flex: 1 1 auto;
  font-weight: bold;
}
.price {
  flex: 0 0 100px;
  text-align: right;
}

