/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.wrapper {
  margin: 0 auto;
  max-width: 900px;
}
  .flex-col {
    display: flex;
    flex-direction: column;
  }
.flex-row {
  display: flex;
  .flex-40 {
    flex: 1 1 40%;
  }
  .flex-60 {
    flex: 1 1 60%;
  }
}

table {
  width:100%;
}

.flex-blocks {
  display: flex;
  flex-wrap: wrap;

  a {
    text-decoration: none;
  }
  & > * {
    flex:1 1 250px;
    max-width: 100%;
    margin:10px;
  }
}
